---
pageTitle: Hello World
youAreUsingPug: true
pretty: true
---
doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Pug
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      include _included.html.pug
