---
buttons:
  - title: Hello
  - title: World
  - title: How
  - title: Are
  - title: You
---
<h1>Buttons</h1>
<div class="buttons">
  {% include 'components/button-group/_button-group.twig' %}
</div>
