---
buttons:
  - title: Hello
  - title: World
  - title: How
  - title: Are
  - title: You
title: Subpage
---
<h1>{{ title }}</h1>
<div class="buttons">
  {% include '../components/button-group/_button-group.twig' %}
</div>
